{% load static %}

<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title> </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico in the root directory -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.png">
    <!-- CSS here -->
    <link rel="stylesheet" href="{% static 'assets/css/preloader.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/meanmenu.css' %}">
 
    <link rel="stylesheet" href="{% static 'assets/css/fontAwesome5Pro.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/default.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
</head>

<body>
    <!-- side toggle start -->
    <div class="fix">
        <div class="side-info">
            <div class="side-info-content">
                <div class="offset-widget offset-logo mb-40">
                    <div class="row align-items-center">
                        <div class="col-9">
                            <a href="{% url 'universystem:IndexView' %}">
                                Qonzhyk 
                            </a>
                        </div>
                        <div class="col-3 text-end"><button class="side-info-close"><i
                                    class="fal fa-times"></i></button>
                        </div>
                    </div>
                </div>
                <div class="mobile-menu d-xl-none fix"></div>
              
                <div class="offset-widget offset_menu-top mb-20">
                    <div class="header-menu-top-icon mb-20">
                        <a href="index-2.html#"><i class="fas fa-phone"></i>+7 705 277 09 86</a>
                        <a href="index-2.html#"><i class="fal fa-envelope"></i><span class="__cf_email__" data-cfemail="3c55525a537c59445d514c5059125f5351">test@mail.ru</span></a>
                        <i class="fal fa-map-marker-alt"></i><span>Almaty</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="offcanvas-overlay"></div>
    <div class="offcanvas-overlay-white"></div>
    <!-- side toggle end -->

    <header>
        <!-- header-top start-->
        <div class="header-top-area d-none d-lg-block">
            <div class="container-fluid">
                <div class="header-top-inner">
                    <div class="row align-items-center">
                        <div class="col-xl-8 col-lg-8">
                            <div class="header-top-icon">
                                <a href="tel:(555)674890556"><i class="fas fa-phone"></i>(555) 674 890 556</a>
                                <a href="https://codeskdhaka.com/cdn-cgi/l/email-protection#d4bdbab2bb94b1acb5b9a4b8b1fab7bbb9"><i class="fal fa-envelope"></i><span class="__cf_email__" data-cfemail="e980878f86a98c91888499858cc78a8684">[email&#160;protected]</span></a>
                                <i class="fal fa-map-marker-alt"></i><span>Almaty</span>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4">
                            <div class="header-top-login d-flex f-right">
                                <div class="header-user-login p-relative d-none">
                                    <span><a class="user-btn-sign-up" href="index-2.html#">Login / Register</a></span>
                                </div>
                                <div class="header-social">
                                    <a href=""><i class="fab fa-facebook-f"></i></a>
                                    <a href=""><i class="fab fa-twitter"></i></a>
                                    <a href=""><i class="fab fa-vimeo-v"></i></a>
                                    <a href=""><i class="fab fa-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- .header-are-start -->
        <div class="header-area-2 sticky-header">
            <div class="container-fluid">
                <div class="header-main-wrapper">
                    <div class="row align-items-center">
                        <div class="col-3 col-lg-3 col-md-3 col-sm-3 col-3">
                            <div class="header-logo">
                                <a href="{% url 'universystem:IndexView' %}">Qonzhyk </a>
                            </div>
                        </div>
                        <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-9">
                            <div class="header-main-right  d-flex justify-content-end">
                                <div class="main-menu mr-30">
                                    <nav id="mobile-menu">
                                        <ul>
                                            <li class="menu-item-has-children">
                                                <a href="{% url 'universystem:IndexView' %}">Main page</a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- header-area-end -->
    </header>
{% block content %}
 
{% endblock %}    

    <!-- footer-area-start -->
    <footer>
        <div class="footer-area pt-100">
            <div class="container">
                <div class="footer-main mb-60">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                            <div class="footer-widget f-w1 mb-40 text-center">
                                <div class="footer-img">
                                    <a href="index.html"> Qonzhyk</a>
                                    <p> Educators can customize lessons as the best plans for gaining knowledge.</p>
                                </div>
                                <div class="footer-icon">
                                    <a href="index-2.html#"><i class="fab fa-facebook-f"></i></a>
                                    <a href="index-2.html#"><i class="fab fa-twitter"></i></a>
                                    <a href="index-2.html#"><i class="fab fa-instagram"></i></a>
                                    <a href="index-2.html#"> <i class="fab fa-linkedin-in"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer-area-end -->



    <!-- JS here -->
    <script data-cfasync="false" src="cloudflare-static/email-decode.min.js"></script><script src="{% static 'assets/js/vendor/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/js/meanmenu.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>
</body>

