{% extends 'student/base.html' %}
{% load static %}
{% block content %}
<div class="course-details-area pt-120 pb-100">
    <div class="container">
        <div class="student-profile-author pb-30">
            <div class="student-profile-author-img">
                <img src="{{ profile.photo.url }}" style="height: 200px;" alt="img not found">
            </div>
            <div class="student-profile-author-text">
                <h3 class="student-profile-author-name">{{ profile.name }} {{ profile.user.first_name }}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-3 col-lg-4">
                <div class="student-profile-sidebar mb-30">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false"><i class="fas fa-user"></i> My profile</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a href="{% url 'universystem:LessonsView' %}" class="nav-link "  type="button" role="tab" aria-controls="profile" aria-selected="false"><i class="far fa-fw fa-file-alt me-2"></i>Lectures</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a role="tab" aria-controls="profile" class="nav-link " aria-selected="false"><i class="fas fa-sign-out-alt fa-fw me-2"></i>Exit</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-9 col-lg-8">
                <div class="student-profile-content">
                    <div class="tab-content" id="myTabContent">
                    
                        <div class="tab-pane fade  active show" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                            <h4 class="mb-25">My profile</h4>
                            <ul class="student-profile-info">
                                <li>
                                    <h5>Full Name</h5>
                                    <span>{{ profile.name }} {{ profile.user.first_name }}</span>
                                </li>
                                <li>
                                    <h5>Email address</h5>
                                    <span>{{ profile.user.email }}</span>
                                </li>
                                <li>
                                    <h5>Address</h5>
                                    <span>{{profile.adress}}</span>
                                </li>
                                
                            </ul>
                        </div>
                           
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}  