{% extends 'teacher/base.html' %}

{% block content %}
<div class="course-details-area ">
    <div class="container">
        <div class="content-body" style="min-height: 788px;">
            <div class="container-fluid">
                <div class="row page-titles mx-0">
                    <div class="col-sm-6 p-md-0">
                        <div class="welcome-text">
                            <h4>to write a message</h4>
                        </div>
                    </div>
                </div>
                <!-- row -->
                <div class="row">
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="email-left-box px-0 mb-5">
                                    <div class="mail-list mt-4">
                                        <a href="{% url 'universystem:InboxView' %}" class="list-group-item"><i class="fa fa-inbox font-18 align-middle mr-2"></i> inbox  </a>
                                        <a href="{% url 'universystem:AddInboxView' %}" class="list-group-item active"><i class="fa fa-paper-plane font-18 align-middle mr-2"></i>Write</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="card">
                            <div class="card-body">
                                <div class="email-right-box ml-0 ml-sm-4 ml-sm-0">
                                    <form method="POST" action="" class="post-form">
                                        {% csrf_token %}
                                        {% load widget_tweaks%} 
                                        <div class="compose-content">
                                            <div class="form-group">
                                                <label class="form-label">Recipient</label>
                                                {{ message_form.recipient|add_class:"form-control" }}
                                            </div>
                                            <div class="form-group">
                                                <label class="form-label">Message text</label>
                                                {{ message_form.message|add_class:"form-control" }}
                                            </div>
                                        </div>
                                        <div class="text-left mt-4 mb-5">
                                            <button type="submit" class="btn btn-primary">Send</button>
                                            <button class="btn btn-dark btn-sl-sm" type="button"><span class="mr-2"><i class="fa fa-times" aria-hidden="true"></i></span> Refuse</button>
                                        </div>
                                     </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %} 